<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto bg-light p-4">
      <h3 class="text-center">Detalhes do Livro</h3>
      <table class="table">
        <tr>
          <th class="text-center">Título:</th>
          <td class="text-center"><%= livro.titulo %></td>
        </tr>
        <tr>
          <th class="text-center">Autor:</th>
          <td class="text-center"><%= livro.autor %></td>
        </tr>
        <tr>
          <th class="text-center">Nota:</th>
          <td class="text-center"><%= livro.nota %></td>
        </tr>
        <tr>
          <th class="text-center">Descrição:</th>
          <td><%= livro.descricao %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
