<div class="text-center">
  <h1>Alterando livro</h1>
</div>

<div class="d-flex justify-content-center">
  <%= render "form", livro: @livro %>
</div>

<div class="text-center">
  <br>
  <div>
    <%= link_to "Detalhes do livro", @livro %> |
    <%= link_to "Voltar à livros", livros_path %>
  </div>
</div>
